

header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    padding: 1em;
    background-color: #23272a;
    box-shadow: 0 0 8px -2px black;
}


h1 {
    font-size: 2.5rem;
}

a {
    color: hsl(300, 80%, 55%);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover{
    text-decoration: underline;
    color: hsl(300, 320%, 80%);

}

header nav ul{
    display: flex;
    list-style: none;
    gap: 0.6em;
    font-size: 1.2rem;
}

body, * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #23272a;
    color: white;
}
main {
    padding-top: 6em;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.bienvenu {
    width: 100%;
    max-width: 2000px;

    text-align: center;
}
h3 {
    text-align: left;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-top: 2px solid white ;
    padding: 1em 0;
}
