/*TODO modifier la taille d'un texte avec un em*/
/*TODO l'image doit être une background-image*/
/*TODO centrer le contenu de la page horizontalement*/

body, * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    max-width: 600px;
    font-size: 12px;

}

img {
    src: url() 

}

header nav ul{
    display: flex;
    list-style: none;
    gap: 0.6em;
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    padding: 1em;
    background-color: #151515;
    box-shadow: 0 0 12px -2px black;
}

bienvenu {
    width: 100%;
    max-width: 2000px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: white;
    background-color: #232323;
}

main {
    padding-top: 6em;
    min-height: 100vh;
    max-width: 1200px; 
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-top: 2px solid white ;
    padding: 1em 0;
}

img {
    max-width: 25%;
    height: auto;
    width: auto;
}

a {
    color: hsl(40, 100%, 45%);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover{
    text-decoration: underline;
    color: hsl(360, 236%, 70%);

}
